extends ../../layouts/default

block head
    title Write Script In

block body
    section(class="editor t50")
        section.nav
            div(class="nav-download icon-file-text") save
        textarea=screenplay
    section(class="viewer t50")
        div.viewer-script
block feet
    script(src='/build/build.js')
    script.
        require('screenwriter/components');
        