extends ../../layouts/default

block head
    title Screenwriter

block body
    section(class="editor t50")
        section.nav
        textarea
    section(class="viewer t50")
        div.viewer-script
block feet
    script.  
        var autocomplete,
            change = false,
            characters = {};
        
        var height;
            
        var $editor = $('.editor'),
            $viewer = $('.viewer'),
            $viewerScript = $('.viewer-script');
            
        $viewerScript.addClass('dpi72').addClass('us-letter');
        autocomplete = $editor.find('textarea').tagSuggest({ tags: characters });
        
        var parseStringForArray = function(string) {
            return string.replace(/ *\([^)]*\) */g, "").replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '');
        }
        var removeParentheticals = function(string) {
            return string.replace(/ *\([^)]*\) */g, "");
        }
        var resize = function() {
            height = $(window).innerHeight();
            $viewer.height(height);
            $editor.height(height);
        }
        var page = function(html, isTitlePage) {
            var $output = $(document.createElement('div')).addClass('viewer-script-page').html(html);
            
            if (isTitlePage) {
                $output.addClass('title-page');
            } else {
                $output.children('div.dialogue.dual').each(function() {
                    dual = $(this).prev('div.dialogue');
                    $(this).wrap($(document.createElement('div')).addClass('dual-dialogue'));
                    dual.prependTo($(this).parent());
                });
            }
            return $output;
        };
        var backgroundFunctions = function() {
            if(change) {
                fountain.parse($editor.find('textarea').val(), true, function(result) {
                    if(result) {
                        $viewerScript.html('');
                        if(result.title && result.html.title_page) {
                            $viewerScript.append(page(result.html.title_page, true));
                            //$title.html(result.title || 'Untitled');
                        }
                        $viewerScript.append(page(result.html.script));
                        for(i in result.tokens) {
                            if(result.tokens[i].type == 'character') {
                                var char = parseStringForArray(result.tokens[i]['text']);
                                if(!characters[char]) {
                                    characters[char] = removeParentheticals(result.tokens[i]['text']);
                                }
                            }
                        }
                        console.log(characters);
                        autocomplete.setTags(characters);
                    } 
                });    
            }
            change = false;
        }
        
        $editor.find('textarea').on('change keyup', function() { 
            change = true;
        });
        
        $(window).resize(resize);
        resize();
        setInterval(backgroundFunctions, 3000);