doctype 5
html
    head
        block head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='/javascript/jquery.js')
        script(src='/javascript/fountain.min.js')
        link(rel='stylesheet', href='/style/fonts/font-awesome.css')
        link(rel='stylesheet', href='/style/main.css')
    body
        section.wrapper
            block body
        block feet